<%- include('comp/header') %>
<div class="w-full h-screen bg-zinc-200 flex justify-center items-center bg-[url('https://images.unsplash.com/photo-1482440308425-276ad0f28b19?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] bg-cover">
<div class="w-3/4 max-w-md p-10 color- rounded-xl bg-zinc-300/80">
  <h1 class="text-red-600 font-bold text-3xl text-center">Login</h1>
  <form action="/login" method="post">
    <input class="mt-6 p-2 bg-zinc-200 border-gray-950 block w-full rounded-xl" type="text" placeholder="Username" name="username">
    <input class="mt-4 p-2 bg-zinc-200 border-gray-950 block w-full rounded-xl" type="password" placeholder="Password" name="password">
    <div class="flex w-full justify-between mt-4 ">
      <span><a href="register" class="text-xs mx-2">Don't have an account?</a></span>
      <button class="px-4 py-1 text-white font-bold rounded-full bg-red-500" type="submit">Login</button>
    </div>
  </form>
</div>
</div>
<%- include('comp/footer') %>
